services:

  backend:
    restart: "always" 
    build: ./backend
    ports:
      - "80:5000"
    volumes:
      - ./backend:/app
    environment: 
      FLASK_ENV: development
      MYSQL_HOST: mysql
      MYSQL_PORT: 3307
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
      MYSQL_DB: mydatabase
    depends_on:
      mysql:
        condition: service_healthy
    
  frontend:
    build: ./frontend/front_app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/front_app:/user/src/app
    depends_on:
      - backend
      #- healthy # check the condition could be other then 

  mysql:
    image: mysql  
    container_name: mysql-container
    env_file: 
      - ./.env  # Loading environment variables like passwords and user info
    ports:
      - "3307:3306"  # Mapping port 3306 of the container to port 3307 on the host
    volumes:
      - mysql-data:/var/lib/mysql # Persisting MySQL data across container restarts
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pexample"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

volumes:
  mysql-data:
